$color_bianca: #fcf7f3;
$color_bizarre: #e9d8ce;
$color_manz: #f0e067;
$color_atomic_tangerine: #ffac68;
$color_tickle_me_pink: #fc7a96;
$color_corduroy: #687772;
$color_tapestry: #b56588;
$color_nugget: #c6931d;
$color_flamingo: #ea5d2f;
$color_maroon_flush: #c62456;
$color_tuna: #2e2e36;

$logo_cupid: #F9BDD0;
$logo_mulberry: #cc4c80;

:root {
    --bianca: #{$color_bianca};
    --bizarre: #{$color_bizarre};
    --manz: #{$color_manz};
    --atomic_tangerine: #{$color_atomic_tangerine};
    --tickle_me_pink: #{$color_tickle_me_pink};
    --corduroy: #{$color_corduroy};
    --tapestry: #{$color_tapestry};
    --nugget: #{$color_nugget};
    --flamingo: #{$color_flamingo};
    --maroon_flush: #{$color_maroon_flush};
    --tuna: #{$color_tuna};

    --cupid: #{$logo_cupid};
    --mulberry: #{$logo_mulberry};
}