@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-Black.woff2') format('woff2'),
        url('/fonts/Overpass-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-BlackItalic.woff2') format('woff2'),
        url('/fonts/Overpass-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-BoldItalic.woff2') format('woff2'),
        url('/fonts/Overpass-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/Overpass-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-Bold.woff2') format('woff2'),
        url('/fonts/Overpass-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-ExtraBold.woff2') format('woff2'),
        url('/fonts/Overpass-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Overpass-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/Overpass-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-Light.woff2') format('woff2'),
        url('/fonts/Overpass-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-Regular.woff2') format('woff2'),
        url('/fonts/Overpass-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-LightItalic.woff2') format('woff2'),
        url('/fonts/Overpass-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-Italic.woff2') format('woff2'),
        url('/fonts/Overpass-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-ThinItalic.woff2') format('woff2'),
        url('/fonts/Overpass-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-SemiBold.woff2') format('woff2'),
        url('/fonts/Overpass-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-ExtraLight.woff2') format('woff2'),
        url('/fonts/Overpass-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-Thin.woff2') format('woff2'),
        url('/fonts/Overpass-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('/fonts/NeueKabelW01-Regular.woff2') format('woff2'),
        url('/fonts/NeueKabelW01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    color: var(--tuna);
    font-family: 'Overpass';
}

a {
    color: var(--tuna);
    @include transition(color);

    &:hover {
        color: var(--primary);
    }
}

:root {
    --extra-light: 100;
    --light: 300;
    --normal: 400;
    --bold: 600;
    --black: 900;
}