@import '../../../styles/globals';

.Flag {
    $white: #f0f0f0;
    $red: #d80027;
    $yellow: #ffda44;
    $green: #6da544;
    $blue: #0052b4;
    $orange: #ff9811;


    width: 3rem;

    &--bangladesh {
        .path-0 { fill: #496e2d; }
        .path-1 { fill: $red; }
    }

    &--china {
        .path-0 { fill: $red; }
        .path-1 { fill: $yellow; }
    }

    &--egypt {
        .path-0 { fill: $white; }
        .path-1 { fill: $red; }
        .path-3 { fill: $orange; }
    }

    &--france {
        .path-0 { fill: $white; }
        .path-1 { fill: $blue; }
        .path-2 { fill: $red; }
    }

    &--greece {
        .path-1,
        .path-2 { fill: #338af3; }
        .path-0,
        .path-3,
        .path-4 { fill: $white; }
    }

    &--germany {
        .path-0 {fill: $red}
        .path-2 {fill: $yellow; }
    }

    &--ireland {
        .path-0 {fill: $white; }
        .path-1 {fill: $green; }
        .path-2 {fill: $orange; }
    }


    &--india {
        .path-0 {fill: $white; }
        .path-1 {fill: $orange; }
        .path-2 {fill: $green; }
        .path-3,
        .path-5 {fill: $blue; }
    }

    &--italy {
        .path-0 { fill: $green; }
        .path-1 { fill: $white; }
        .path-2 { fill: $red; }
    }

    &--japan {
        .path-0 {fill: $white;}
        .path-1 {fill: $red;}
    }

    &--poland {
        .path-0,
        .path-1 {fill: $white;}
        .path-2 {fill: $red;}
    }

    &--portugal {
        .path-0,
        .path-3 {fill: $red;}
        .path-1 {fill: $green;}
        .path-2 {fill: $yellow;}
        .path-4 {fill: $white;}
    }

    &--russia {
        .path-0,
        .path-2 {fill: $white;}
        .path-1 {fill: $blue;}
        .path-3 {fill: $red;}
    }

    &--spain {
        .path-0,
        .path-2 {fill: $yellow;}
        .path-1 {fill: $red;}
    }

    &--sweden {
        .path-0 {fill: $blue;}
        .path-1 {fill: $yellow;}
    }

    &--uk {
        .path-0,
        .path-3,
        .path-8 {fill: $white;}

        .path-1,
        .path-4,
        .path-6,
        .path-9,
        .path-11 {fill: $red;}

        .path-2,
        .path-5,
        .path-7,
        .path-10,
        .path-12 {fill: $blue;}
    }

    &--usa {
        .path-0,
        .path-3 {fill: $white}
        .path-1 {fill: $red}
        .path-2 {fill: $blue}
    }
}