.FlagsWrapper {
    display: grid;
    padding: 1.5rem 0;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.FlagWrapper {
    display: flex;
    flex-direction:column;
    align-items: center;

    code {
        margin-top: 0.5rem;
    }
}

.Flag {
    min-width: 100px;
    width: 35%;
}