@import '../../../styles/global/mixins/';

.TextInput {
    background-color: lighten(--tapestry, 40%);
    border-bottom-color: var(--tapestry);
    border-radius: var(--border-radius);

    &:focus {
        outline-color: var(--tapestry);
    }

    &:hover {
        background-color: lighten(--tapestry, 35%);
    }
}

.FormLabel {
    color: var(--tuna);
    font-family: Overpass;
}