@import '../global/mixins';
@import '../global/breakpoints';

.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: var(--breakpoint-desktop);

    @include media(">=tablet", "<=desktop") {
        max-width: var(--breakpoint-tablet);
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingLogo {
    width: 35vw;
    max-width: 40vh;
}