@import '../global/mixins';
@import '../global/breakpoints';

.h3 {
    font-weight: bold;
    margin: 1rem 0;
}
// TODO: move global styles and compose them

.notes {
    composes: h3;
}

.sourceHeading {
    composes: h3;
    display: inline-block;
}

.details {
    > * + * {
        margin-top: 1rem;
    }

    .cost {
        color: var(--tapestry);
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1.25rem;
    }

    .description {
        line-height: 1.1;

        .header {
            font-weight: 900;
        }
    }

    .download {
        text-transform: uppercase;
        width: 100%;
        letter-spacing: 0.25rem;
    }

    .langAndDifficulty {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: var(--border);
        border-bottom: var(--border);
    }
}

.boldHeader {
    color: var(--corduroy);
    margin-bottom: 0.5rem;
}

.gridCell {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    .gridRow {
        height: 2rem;
        display: flex;
        align-items: center;

        > * {
            height: inherit;
        }
    }
}

.gridCell + .gridCell {
    border-left: var(--border);
}

.inDetail {
    margin-top: 0;

    .listItem {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .listItem + .listItem {
        border-top: var(--border);
    }
}

.detailHeader {
    composes: boldHeader;
    margin-bottom: 0;
    padding-right: 0.5rem;
}

.detailValue {
    text-align: right;
}