@import './global/mixins';

@import './global/colors';
@import './global/breakpoints';

@import './global/reset';
@import './global/typography';

.FooterLink {
    margin-left: 0.5rem;
    color: var(--bianca);

    &:hover {
        color: var(--tuna);
    }
}