@import '../../styles/global/mixins';
@import '../../styles/global/breakpoints';


.ImageCard {
    display: block;

    .Figure {
        width: 20.2rem;
        position:relative;
        overflow: hidden;
        border-radius: 0.25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include media(">=tablet", "<=desktop") {
            width: 14.8rem;
        }


        &:focus figcaption {
            opacity: 1;
        }

        .Image {
            width: 100%;
            min-height: 300px;
            z-index: 0;
            opacity: 0;
            pointer-events: none;
        }

        .Figcaption {
            @include transition(opacity);

            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--bizarre);
            padding: 1rem;
            border: 0.5rem solid var(--tapestry);
            opacity: 0;
            user-select: none;

            &:hover {
                opacity: 1;
            }
        }
    }
    .Logo {
        width: 3.5rem;
    }

    .Title {
        font-size: 2rem;
        font-family: 'Overpass';
        font-style: italic;
        font-weight: bold;
        padding: 1rem 0;
        text-align: center;
        width: 100%;
        margin: 10% 0;
        border-top: 2px solid var(--tuna);
        border-bottom: 2px solid var(--tuna);
    }

    .Designer {
        font-size: 0.875rem;
        text-align: center;
        line-height: 1.25;

        .Name {
            display: block;
        }
    }
}