@import '../../styles/globals';

.Logo {
    width: 2rem;

    &--main {
        .color-1 {fill: var(--tickle_me_pink);}
        .color-2 {fill: var(--cupid);}
        .color-3 {fill: var(--maroon_flush);}
        .color-4 {fill: var(--mulberry);}
    }

    &--bianca {
        .color-1 {fill:darken($color_bianca, 5%)}
        .color-2 {fill:darken($color_bianca, 10%)}
        .color-3 {fill:darken($color_bianca, 25%)}
        .color-4 {fill:darken($color_bianca, 35%)}
    }
    &--bianca-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--bianca)}
    }

    &--bizarre {
        .color-1 {fill:darken($color_bizarre, 5%)}
        .color-2 {fill:darken($color_bizarre, 10%)}
        .color-3 {fill:darken($color_bizarre, 25%)}
        .color-4 {fill:darken($color_bizarre, 40%)}
    }
    &--bizarre-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--bizarre)}
    }

    &--manz {
        .color-1 {fill: $color_manz;}
        .color-2 {fill:darken($color_manz, 10%)}
        .color-3 {fill:darken($color_manz, 20%)}
        .color-4 {fill:darken($color_manz, 30%)}
    }
    &--manz-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--manz)}
    }

    &--atomic_tangerine {
        .color-1 {fill:$color_atomic_tangerine;}
        .color-2 {fill:darken($color_atomic_tangerine, 5%)}
        .color-3 {fill:darken($color_atomic_tangerine, 20%)}
        .color-4 {fill:darken($color_atomic_tangerine, 25%)}
    }
    &--atomic_tangerine-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--atomic_tangerine)}
    }

    &--tickle_me_pink {
        .color-1 {fill:lighten($color_tickle_me_pink, 10%);}
        .color-2 {fill:$color_tickle_me_pink;}
        .color-3 {fill:darken($color_tickle_me_pink, 10%)}
        .color-4 {fill:darken($color_tickle_me_pink, 25%)}
    }
    &--tickle_me_pink-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--tickle_me_pink)}
    }

    &--tapestry {
        .color-1 {fill:lighten($color_tapestry, 20%)}
        .color-2 {fill:lighten($color_tapestry, 10%)}
        .color-3 {fill:$color_tapestry;}
        .color-4 {fill:darken($color_tapestry, 20%)}
    }
    &--tapestry-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--tapestry)}
    }

    &--flamingo {
        .color-1 {fill:lighten($color_flamingo, 20%)}
        .color-2 {fill:lighten($color_flamingo, 10%)}
        .color-3 {fill:$color_flamingo}
        .color-4 {fill:darken($color_flamingo, 15%)}
    }
    &--flamingo-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--flamingo)}
    }

    &--maroon_flush {
        .color-1 {fill:lighten($color_maroon_flush, 30%)}
        .color-2 {fill:lighten($color_maroon_flush, 15%)}
        .color-3 {fill:$color_maroon_flush}
        .color-4 {fill:darken($color_maroon_flush, 15%)}
    }
    &--maroon_flush-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--maroon_flush)}
    }

    &--tuna {
        .color-1 {fill:lighten($color_tuna, 60%)}
        .color-2 {fill:lighten($color_tuna, 40%)}
        .color-3 {fill:darken($color_tuna, 20%)}
        .color-4 {fill:$color_tuna;}
    }
    &--tuna-mono {
        .color-1, .color-2,
        .color-3, .color-4{fill:var(--tuna)}
    }

}