@import '../../styles/global/mixins';

.Masonry {
    opacity: 1;
    @include transition(opacity);

    > * {
        padding: 0.25rem;
    }

    &-hide {
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }
}