.Ribbon {
    min-height: 1rem;
    padding: 0.25rem 0;
    width: 100%;

    &--bizarre {
        background-color: var(--bizarre);
    }

    &--manz {
        background-color: var(--manz);
    }
    &--atomic_tangerine {
        background-color: var(--atomic_tangerine);
    }
    &--tickle_me_pink {
        background-color: var(--tickle_me_pink);
    }
    &--corduroy {
        background-color: var(--corduroy);
    }
    &--tapestry {
        background-color: var(--tapestry);
    }
    &--flamingo {
        background-color: var(--flamingo);
    }
    &--maroon_flush {
        background-color: var(--maroon_flush);
    }
    &--tuna {
        background-color: var(--tuna);
    }
}