
.ButtonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;

    &--stacked {
        display: grid;
        grid-template-columns: none;
        grid-row-gap: 0.5rem;
    }
}