@import '../../../styles/global/mixins';

.Input {
    &--radio,
    &--checkbox {
        label {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row-reverse;
        }

        .labelText {
            padding: 0;
            padding-left: 0.5rem;
        }

        input {
            width: auto;
            margin: 0;
            /* remove standard background appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* create custom radiobutton appearance */
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            /* background-color only for content */
            background-clip: content-box;
            border: 1px solid lighten(--tuna, 50%);
            @include transition(border);

            &:checked {
                background-color: var(--primary);
                border-color: var(--primary);
            }

            &:hover {
                background-color: var(--tuna);

                &:checked {
                    background-color: var(--primary);
                    border-color: var(--primary);
                }
            }
        }
    }

    &--number {
        input {
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    &--radio {
        input {
            padding: 0.1rem;
            border-radius: 50%;
            background-color: lighten(--tuna, 50%);
        }
    }

    &--checkbox {
        input {
            background-color: lighten(--tuna, 50%);

            &:checked {
                padding: 0;
                width: 1.15rem;
                height: 1.15rem;
                background-color: var(--primary);
                border-color: var(--primary);
            }
        }
    }

    &--file {
        input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .chooseFile {
            width: 100%;
            border:1px solid var(--primary);
            border-radius: var(--border-radius);
            display: flex;
            align-items: center;
        }

        .chooseFileText {
            padding: 0.5rem 0.75rem 0.5rem 0.5rem;
            color: var(--bianca);
            font-weight: var(--bold);
            background-color: var(--primary);
            cursor: pointer;
            @include transition(background-color);

            &:hover {
                background-color: darken(--tapestry, 5%);
            }
        }

        .fileTextArea {
            padding-left: 1rem;
        }
    }
}

.InputError {
}

.label {

}

.error {
    padding-top: 0.5rem;
}

.optional {
    color: lighten(--tuna, 50%);
    padding-left: 0.25rem;
}

.labelText {
    padding-bottom: 0.5rem;
    color: var(--tuna);
    font-size: 0.85rem;
    font-weight: var(--bold);
    display: inline-block;
    @include transition(color);

    .InputError & {
        color: var(--error);
    }
}

.InputField {
    border: 1px solid lighten(--tuna, 50%);
    color: var(--tuna);
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    @include transition(border, color);

    .InputError & {
        border-color: var(--error);
        color: var(--error);
    }


    &:hover {
        color: var(--tuna);
        border: 1px solid var(--tuna);
    }

    &:focus, &:active {
        border-color: var(--primary);
        color: var(--tuna);

        .InputError & {
            border-color: var(--error);
            color: var(--error);
        }
    }
}