@import '../../../styles/global/mixins/';


.Input {
    background-color: lighten(--tapestry, 40%);
    border-bottom-color: var(--tapestry);
    border-radius: var(--border-radius);

    &:focus {
        outline-color: var(--tapestry);
    }
}

.FormLabel {
    color: var(--tuna);
    font-family: Overpass;
}