@import "styles/globals.scss";

.ColorWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 768px;
    margin: 0 auto;
}

.Color {
    display: flex;
    flex-direction: column;
    align-items: center;

    .background {
        height: 20px;
        width: 75%;
        border: 1px solid $color_tuna;
        border-radius: 10px;
        background-color: $color_tuna;
        margin-bottom: 10px;
    }

    &-bianca {
        .background {
            background-color: $color_bianca;
        }
    }
    &-bizarre {
        .background {
            background-color: $color_bizarre;
        }
    }
    &-manz {
        .background {
            background-color: $color_manz;
        }
    }
    &-atomic_tangerine {
        .background {
            background-color: $color_atomic_tangerine;
        }
    }
    &-tickle_me_pink {
        .background {
            background-color: $color_tickle_me_pink;
        }
    }
    &-corduroy {
        .background {
            background-color: $color_corduroy;
        }
    }
    &-tapestry {
        .background {
            background-color: $color_tapestry;
        }
    }
    &-nugget {
        .background {
            background-color: $color_nugget;
        }
    }
    &-flamingo {
        .background {
            background-color: $color_flamingo;
        }
    }
    &-maroon_flush {
        .background {
            background-color: $color_maroon_flush;
        }
    }
    &-tuna {
        .background {
            background-color: $color_tuna;
        }
    }

    span {
        font-size: 14px;
        text-transform: uppercase;
    }
}